<ul>
{{#if users.length}}
    {{#each users}}
        <li> {{firstname}} </li>
        <li> {{lastname}} </li>
        <li> {{mail}} </li>
        <li> {{age}} </li>
        <li> {{phone}} </li>
    {{/each}}
{{else}}
    <p>No existen usuarios</p>
{{/if}}
</ul>